plan.md
.DS_Store
.swiftpm/xcode/xcuserdata/nemanjavlahovic.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/nemanjavlahovic.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
